.showing-item {
    width: 100%;
    height: fit-content;
    box-sizing: content-box;
    position: relative;
    /* overflow: hidden; */
    transition: 0.3s ease;
    cursor: pointer;

    & > .item {
        width: 100%;
        height: 30px;
        margin-bottom: 5px;
        display: grid;
        background-color: #8dccdbe7;
        font-size: 1.1rem;
        border: 3px solid rgba(0, 0, 0, 0.466);
        border-radius: 5px;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        transition: 0.3s ease;
        &:hover {
            filter: brightness(1.1);
            transform: scale(1.05);
            border: 3px solid rgba(230, 230, 230, 0.096);
        }
        & > span {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            &:first-child {
                padding-left: 10px;
                justify-content: start;
            }
            & + span {
                border-left: 3px solid rgba(0, 0, 0, 0.466);
            }
        }
    }

    & > .controls {
        margin: 0;
        height: 0px;
        &.active {
            margin: 5px 0;
            height: 30px;
        }
        transition: 0.3s ease;
        width: 100%;
        padding: 0;
        position: relative;
        gap: 0px;
        overflow: hidden;
        transition: 0.3s ease;
        & > button {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 5%;
            height: 100%;
            transition: 0.3s ease;
            box-sizing: border-box;
            color: white;
            font-size: 0.7rem;
            font-weight: bold;
            border: 3px solid black;
            &:hover {
                border: 3px solid rgba(0, 0, 0, 0.582);
                font-size: 1.2rem;
                font-weight: 900;
                width: 50%;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.281);
            }
        }
        & > .edit {
            border-right: none;
            right: 50%;
            background-color: #6da5c5;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            &:hover {
                color: black;
                border-right: none;
                background-color: #7fd9f0;
            }
        }
        & > .delete {
            left: 50%;
            border-left: none;
            background-color: rgb(255, 44, 44);
            color: white;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            &:hover {
                border-left: none;
                background-color: rgb(255, 0, 0);
            }
        }
    }
}
