.add_section {
    width: 100%;
    & .activator {
        border: 3px solid black;
        border-radius: 5px;
        color: rgb(0, 0, 0);
        font-weight: 600;
        font-size: larger;
        background-color: rgb(55, 230, 78);
        width: 30px;
        height: 30px;
        transition: 0.3s ease;
        cursor: pointer;
        &:hover {
            width: 100%;
            height: 50px;
            filter: brightness(3);
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.281);
        }
    }
    & .modal {
        display: flex;
        width: 100%;
        height: 50px;
        border: 3px solid black;
        border-radius: 5px;
        padding: 5px;
        box-sizing: border-box;
        & > :nth-child(1) {
            width: 40%;
        }
        & > :nth-child(2) {
            width: 20%;
        }
        & > :nth-child(3) {
            width: 12%;
        }
        & > :nth-child(3) {
            width: 12%;
        }
        & > :nth-child(5) {
            width: 5%;
        }
        & button {
            &.canceler {
                border: 0.5px solid rgba(0, 0, 0, 0.486);
                background-color: rgb(255, 31, 31);
                font-weight: 600;
                color: whitesmoke;
            }
            &.adder {
                border: none;
                color: rgb(0, 0, 0);
                font-weight: 600;
                background-color: rgb(50, 211, 71);
            }
        }
    }
}
