body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
header {
    background-image: linear-gradient(to right, #61a3c9, #7bc768);
    padding: 10px 100px;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main {
    margin: 10px 30px;
}

.category {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    border: solid 3px black;
    height: 40px;
    align-items: center;
    font-size: larger;
    background-color: rgb(115, 194, 115);
    color: whitesmoke;
    border-radius: 5px;
    font-weight: 600;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

    & li + li {
        border-left: 2px black solid;
    }
}
