.item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.action-cell {
    border: none;
    display: none;
    position: absolute;
    width: 100px;
}
.actions {
    position: absolute;
    top: 0;
    right: -120px;
    display: flex;
    gap: 5px;
    transition: transform 0.3s ease, right 0.3s ease;
}
.action.show {
    right: 0;
}
.edit-btn,
.delete-btn {
    padding: 4px 8px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.edit-btn {
    background-color: #4caf50;
    color: white;
}

.delete-btn {
    background-color: #f44336;
    color: white;
}
