@import "tailwindcss";

:root {
}
* {
    font-family: pretendard;
}

::-webkit-scrollbar {
    height: 100%;
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 255, 0, 0.849);
}
